.tag-wrap {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.tag {
  background: #ffba62;
  color: #222;
  padding: 2rem 3rem 2rem 4rem;
  font: bold 24px system-ui;
  /*clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);*/
  /*clip-path: polygon(30px 15%, 100% 15%, 100% 85%, 30px 85%, 0 50%);*/
  clip-path: polygon(30px 20%, 100% 20%, 100% 80%, 30px 80%, 0 50%);
}