body {
    background-color:lightgray;
}

.collapsible {
    background-color: #6775bd;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-shadow: 0 0 13px black;
}

    .active, .collapsible:hover {
        background-color: #152265;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/*.spnVerbBG{
    font-size: small;
    position: relative;
    top: -12px;
    left: 19px;
}*/

/*.imgArrow{
    position: relative;
    top: -4px;
    left: -40px;
}*/

.spnNounBG {
    font-size: xx-large;
    border: 2px solid black;
    font-size: xx-large;
    border-radius: 23px;
    padding-left: 13px;
    padding-right: 13px;
    background-color:#fffda5;
}

/*.imgArrow{
    position:absolute;
}*/

.spnVerbBG {
    font-size: large;
    right: 86px;
    position: relative;
    bottom: 13px;

    border: 2px solid white;
    border-radius: 23px;
}
