body {
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}

    .intro-type .container {
        padding: 107px 0px 102px 0px !important;
    }

.company-heading h1 {
    margin-bottom: 60px;
    padding-bottom: 50px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}

.jumbo {
    margin-top: 50px;
}

.seo-header, .product-header,
.intro-type .container h1.white,
.company-heading h1 {
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 55px;
    margin-bottom: 20px;
}

.parallax {
    background-attachment: inherit !important;
}

.parallax {
    background-attachment: inherit !important;
}

.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.btnupload-scroll {
    width: 86px;
    height: 86px;
    position: absolute;
    bottom: -120px;
    left: 280px;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.btntext-scroll {
    width: 86px;
    height: 86px;
    position: absolute;
    bottom: -120px;
    left: 485px;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.btnlink-scroll {
    width: 86px;
    height: 86px;
    position: absolute;
    bottom: -120px;
    left: 685px;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.btnaudio-scroll {
    width: 86px;
    height: 86px;
    position: absolute;
    bottom: -120px;
    left: 900px;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

img,
figure {
    max-width: 100%;
}

.container {
    max-width: 1266px;
    min-width: 1266px;
}

/*.button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}*/

/*.custom-upload {
    width: 300px;
}*/

#recordingLogo {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 300px;
}

#submitBtn {
    width: 90px;
    height: 50px;
}

#InputLinkValue {
    /*min-width: 600px;*/
}

.spnNounBG:hover {
    background-color: #eaa0a3;
}

.spnVerbBG:hover {
    background-color: #b3ddc0;
}

.basic-slide {
    display: inline-block;
    width: 450px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    /*text-indent: 70px;*/
    text-indent: 127px;
    transition: all .3s ease-in-out;
}

    .basic-slide::-webkit-input-placeholder {
        color: #efefef;
        text-indent: 0;
        font-weight: 300;
    }

    .basic-slide + label {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0px;
        padding: 10px 15px;
        text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
        background: #7AB893;
        transition: all .3s ease-in-out;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .basic-slide:focus,
    .basic-slide:active {
        color: #377D6A;
        text-indent: 0;
        background: #fff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

        .basic-slide:focus::-webkit-input-placeholder,
        .basic-slide:active::-webkit-input-placeholder {
            color: #aaa;
        }

        .basic-slide:focus + label,
        .basic-slide:active + label {
            transform: translateX(-100%);
        }

.rowTextInput {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 30px;
    position: relative;
    z-index: 1;
    text-align: center;
}

    .rowTextInput:before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -5000px;
        height: 100%;
        width: 15000px;
        z-index: -1;
        background: inherit;
    }

    .rowTextInput:first-child {
        padding: 40px 30px;
    }

    .rowTextInput:nth-child(2), .rowTextInput:nth-child(8), .rowTextInput:nth-child(10) {
        background: #134A46;
    }

    .rowTextInput:nth-child(3), .rowTextInput:nth-child(7) {
        background: #377D6A;
    }

    .rowTextInput:nth-child(4), .rowTextInput:nth-child(6) {
        background: #7AB893;
    }

    .rowTextInput:nth-child(5) {
        background: #B2E3AF;
    }

    .rowTextInput span {
        position: relative;
        display: inline-block;
        margin: 30px 10px;
    }
