@model WebApp.Models.InputTxt
@{
    ViewBag.Title = "Index";
}

<script src="~/scripts/frontPage.js"></script>
<script src="~/scripts/audioRecord.js"></script>

<section class="company-heading intro-type" id="parallax-one" style="min-height: 565px;">
    <div class="container">
        <div class="row product-title-info">
            <div class="col-md-12">
                <h1>Huge Text. Less Time.</h1>
                <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
                <div>
                    <a class="btnupload-scroll" href="#section2"><img alt="Upload Icon" src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/arrow-upload-icon.png"></a>

                    <a class="btntext-scroll" href="#section3"><img alt="Upload Icon" src="https://cdn2.iconfinder.com/data/icons/file-formats-4-1/100/file_formats_4_txt-512.png"></a>

                    <a class="btnlink-scroll" href="#section4"><img alt="Upload Icon" src="http://icons.iconarchive.com/icons/thehoth/seo/256/seo-chain-link-icon.png"></a>

                    <a class="btnaudio-scroll" href="#section5"><img alt="Upload Icon" src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex-android/96/voice-search-icon.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/anchor/company-hero2.jpg);"></div>
</section>