@model WebApp.Models.InputTxt
@{
    ViewBag.Title = "Index";
}

<script src="~/scripts/frontPage.js"></script>
<script src="~/scripts/audioRecord.js"></script>

<section class="company-heading intro-type" id="parallax-one" style="min-height: 565px;">
    <div class="container">
        <div class="row product-title-info">
            <div class="col-md-12">
                <h1>Huge Text. Less Time.</h1>
                <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
                <div>
                    <a class="btnupload-scroll" href="#section2"><img alt="Upload Icon" src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/arrow-upload-icon.png"></a>

                    <a class="btntext-scroll" href="#section3"><img alt="Upload Icon" src="https://cdn2.iconfinder.com/data/icons/file-formats-4-1/100/file_formats_4_txt-512.png"></a>

                    <a class="btnlink-scroll" href="#section4"><img alt="Upload Icon" src="http://icons.iconarchive.com/icons/thehoth/seo/256/seo-chain-link-icon.png"></a>

                    <a class="btnaudio-scroll" href="#section5"><img alt="Upload Icon" src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex-android/96/voice-search-icon.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/anchor/company-hero2.jpg);"></div>
</section>
<div class="main">
    <section id="section2">
        <div class="container jumbo">
            <div class="jumbotron" style="padding-bottom: 150px;padding-top: 150px;background-color: #ff8187">
                <br /><br />
                @using (Html.BeginForm("WSDDisplay", "Home", FormMethod.Post))
                {
                    <div class="rowTextInput">
                        <span>
                            <input class="basic-slide custom-upload" id="InputUploadValue" name="InputUploadValue" type="file" placeholder="" /><label for="name">Upload</label>
                        </span>
                        <br /><br /><button class="btn btn-warning" type="submit" id="submitBtn">Submit</button>
                    </div>
                    @*@Html.TextAreaFor(model => model.InputTxtValue)*@<br />

                }
            </div>
        </div>
    </section>
    <section id="section3">
        <div class="container jumbo">
            <div class="jumbotron" style="padding-bottom: 150px;padding-top: 150px;background-color: #94c6f6;">
                <br /><br />
                @using (Html.BeginForm("WSDDisplay", "Home", FormMethod.Post))
                {
                    <div class="rowTextInput">
                        <span>
                            <input class="basic-slide" id="InputTextValue" name="InputTextValue" type="text" placeholder="Type or paste content" /><label for="name">Text</label>
                        </span>
                        <br /><br /><button class="btn btn-warning" type="submit" id="submitBtn">Submit</button>
                    </div>
                }
                @*@Html.TextAreaFor(model => model.InputTxtValue)*@<br />


            </div>
        </div>
    </section>
    <section id="section4">
        <div class="container jumbo">
            <div class="jumbotron" style="padding-bottom: 150px;padding-top: 150px;background-color: #b3ddc0;">
                <br /><br />
                @using (Html.BeginForm("WSDDisplay", "Home", FormMethod.Post))
                {
                    <div class="rowTextInput">
                        <span>
                            <input class="basic-slide" name="InputLinkValue" id="InputLinkValue" type="text" placeholder="Copy and paste your article link" /><label for="name">Paste Link</label>
                        </span>
                        <br /><br /><button class="btn btn-warning" type="submit" id="submitBtn">Submit</button>
                    </div>
                    @*@Html.TextAreaFor(model => model.InputTxtValue)*@<br />

                }
            </div>
        </div>
    </section>
</div>
