@model IEnumerable<WebApp.Models.SentenceStructure>

@{
    ViewBag.Title = "WSDDisplay";
}

@*<script src="~/scripts/SequenceDg.js"></script>*@
<link href="~/Content/SequenceDg.css" rel="stylesheet" />
<link href="~/Content/logo.css" rel="stylesheet" />
<br />
<div>
    <span class="tag-wrap">
        <span class="tag">
            { } Text Summarization
        </span>
    </span>
    <br /><br /><br />
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>